<% provide(:title, 'Analysis Types') %>
<% provide(:pageheading, 'Available Analysis Types') %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'analysis_types/analysis_types' %>
  </div>
</div>
