<% if object.errors.any? %>
	<div class="alert alert-dismissable alert-danger">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <strong>The form contains <%= pluralize(object.errors.count, "error") %>.</strong> 
	  <ul>
	    <% object.errors.messages.values.each do |msg| %>
        <% msg.each do  |m| %>
          <li><%= m %></li>
        <% end %>
      <% end %>
	  </ul>
	</div>
<% end %>